In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plot

In [2]:
# data = np.genfromtxt('bottle.csv', delimiter = ',')
# data.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [4]:
df = pd.read_csv('bottle.csv')
df.head()

,Cst_Cnt,Btl_Cnt,Sta_ID,Depth_ID,Depthm,T_degC,Salnty,O2ml_L,STheta,O2Sat,...,R_PHAEO,R_PRES,R_SAMP,DIC1,DIC2,TA1,TA2,pH2,pH1,DIC Quality Comment
0,1,1,054.0 056.0,19-4903CR-HY-060-0930-05400560-0000A-3,0,10.50,33.440,NaN,25.649,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,054.0 056.0,19-4903CR-HY-060-0930-05400560-0008A-3,8,10.46,33.440,NaN,25.656,NaN,...,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,054.0 056.0,19-4903CR-HY-060-0930-05400560-0010A-7,10,10.46,33.437,NaN,25.654,NaN,...,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,4,054.0 056.0,19-4903CR-HY-060-0930-05400560-0019A-3,19,10.45,33.420,NaN,25.643,NaN,...,NaN,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5,054.0 056.0,19-4903CR-HY-060-0930-05400560-0020A-7,20,10.45,33.421,NaN,25.643,NaN,...,NaN,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
sal = df.loc[:,'Salnty']
sal.head()

0    33.440
1    33.440
2    33.437
3    33.420
4    33.421
Name: Salnty, dtype: float64

In [44]:
tempC = df.loc[:,'T_degC']
tempC.head()

0    10.50
1    10.46
2    10.46
3    10.45
4    10.45
Name: T_degC, dtype: float64

In [53]:
# Longer option toDf = pd.DataFrame([df['T_degC'],df['Salnty']]).transpose()
a = list(zip(sal,tempC))
toDf = pd.DataFrame(a,columns =['Salinity', 'TempC'])

In [54]:
toDf.head()

   Salinity  TempC
0    33.440  10.50
1    33.440  10.46
2    33.437  10.46
3    33.420  10.45
4    33.421  10.45

In [51]:
toDf.shape

(864863, 2)

In [55]:
toDf.to_csv('salinityTempC.csv')